# NEVER SHARE OR COMMIT YOUR PRIVATE KEYS TO GITHUB
# Rename this file to `.env` and update the key with a funded account for contract deployments
DEPLOYER_KEY='0xFFFFFFFFFFFFFFFFFFFFFFFFFFF0000000000000000000000000000000000000'